-- ============================================
-- Exercise 3 : Stored Procedures
-- ============================================

SET SERVEROUTPUT ON;

-------------------------------------------------
-- Scenario 1 : Process Monthly Interest
-------------------------------------------------

CREATE OR REPLACE PROCEDURE ProcessMonthlyInterest
AS
BEGIN
    UPDATE Accounts
    SET Balance = Balance + (Balance * 0.01)
    WHERE AccountType = 'Savings';

    COMMIT;

    DBMS_OUTPUT.PUT_LINE('Monthly Interest Processed Successfully.');
END;
/

-------------------------------------------------
-- Scenario 2 : Update Employee Bonus
-------------------------------------------------

CREATE OR REPLACE PROCEDURE UpdateEmployeeBonus(
    p_department IN VARCHAR2,
    p_bonus IN NUMBER
)
AS
BEGIN
    UPDATE Employees
    SET Salary = Salary + (Salary * p_bonus / 100)
    WHERE Department = p_department;

    COMMIT;

    DBMS_OUTPUT.PUT_LINE('Employee Bonus Updated Successfully.');
END;
/

-------------------------------------------------
-- Scenario 3 : Transfer Funds
-------------------------------------------------

CREATE OR REPLACE PROCEDURE TransferFunds(
    p_fromAccount IN NUMBER,
    p_toAccount IN NUMBER,
    p_amount IN NUMBER
)
AS
    v_balance NUMBER;
BEGIN

    SELECT Balance
    INTO v_balance
    FROM Accounts
    WHERE AccountID = p_fromAccount;

    IF v_balance >= p_amount THEN

        UPDATE Accounts
        SET Balance = Balance - p_amount
        WHERE AccountID = p_fromAccount;

        UPDATE Accounts
        SET Balance = Balance + p_amount
        WHERE AccountID = p_toAccount;

        COMMIT;

        DBMS_OUTPUT.PUT_LINE('Transfer Completed Successfully.');

    ELSE

        DBMS_OUTPUT.PUT_LINE('Insufficient Balance.');

    END IF;

END;
/

-------------------------------------------------
-- Execute Procedure 1
-------------------------------------------------

BEGIN
    ProcessMonthlyInterest;
END;
/

-------------------------------------------------
-- Execute Procedure 2
-------------------------------------------------

BEGIN
    UpdateEmployeeBonus('IT',10);
END;
/

-------------------------------------------------
-- Execute Procedure 3
-------------------------------------------------

BEGIN
    TransferFunds(1,2,200);
END;
/

-------------------------------------------------
-- Verify Results
-------------------------------------------------

SELECT * FROM Accounts;

SELECT * FROM Employees;